# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Base directories
build/
**/build/
libs/
tests/
frames/
*.gif
pogobot-sdk
TODO

# Output data files
*.feather

# Example binaries
examples/helloworld/helloworld
examples/hanabi/hanabi
examples/ssr/ssr
examples/time_handling/time_handling

# Apptainer
*.sif
*.simg

# Valgrind
callgrind.*
