# virtual env Python
.venv/
env/
venv/

# Caches Python
__pycache__/
*.pyc

# Data
results/
figures/
tmp/
tmp_cma/
plots/
*.feather
*.csv
*.png
*.gif
pogosim.simg/
*.out
outcmaes/
frames/
plots/

# build
*.o
*.so