# virtual env Python
.venv/
env/
venv/

# Python
__pycache__
*.pyc
*.egg-info
dist/

# Data
results/
figures/
tmp/
tmp_cma/
plots/
*.feather
*.csv
*.png
*.gif
pogosim.simg/
*.out
outcmaes/
frames/
plots/
*.gif
*.sif
pogosim
pogo-utils

# build
*.o
*.so
build/
**/build/

# Example binaries
examples/helloworld/helloworld
examples/hanabi/hanabi
examples/ssr/ssr
examples/run_and_tumble/run_and_tumble
examples/phototaxis/phototaxis
examples/walls/walls
examples/neighbor_counter/neighbor_counter
examples/coverage_neighbors_novelty/coverage_neighbors_novelty
SSR_move/SSR_move
SSR/SSR

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Apptainer
*.sif
*.simg